.Footer {
    background: rgb(27, 27, 27);
}

.FooterEmailInput {
    background: transparent;
    color: grey;
    width: 80%;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 20px;
    font-size: 12px;
    padding: 0px 0px 5px 0px;
}